# ================================
# Google OAuth (PUBLIC)
# ================================
VITE_GOOGLE_CLIENT_ID=

# ================================
# Backend API URLs (PUBLIC)
# ================================
VITE_API_URL=
VITE_PROPERTY_SERVICE_API_URL=
VITE_CHAT_SERVICE_API_URL=

# ================================
# Frontend App Info
# ================================
VITE_APP_NAME=Lyvo
VITE_APP_VERSION=1.0.0
